<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>yukie_mail_rn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HarmonyOS_Sans_Black.ttf</string>
		<string>HarmonyOS_Sans_Bold.ttf</string>
		<string>HarmonyOS_Sans_Light.ttf</string>
		<string>HarmonyOS_Sans_Medium.ttf</string>
		<string>HarmonyOS_Sans_Regular.ttf</string>
		<string>HarmonyOS_Sans_Thin.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Black.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Bold.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Light.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Medium.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Regular.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Thin.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Black_Italic.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Bold_Italic.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Light_Italic.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Medium_Italic.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Regular_Italic.ttf</string>
		<string>HarmonyOS_Sans_Condensed_Thin_Italic.ttf</string>
		<string>HarmonyOS_Sans_Black_Italic.ttf</string>
		<string>HarmonyOS_Sans_Bold_Italic.ttf</string>
		<string>HarmonyOS_Sans_Light_Italic.ttf</string>
		<string>HarmonyOS_Sans_Medium_Italic.ttf</string>
		<string>HarmonyOS_Sans_Regular_Italic.ttf</string>
		<string>HarmonyOS_Sans_Thin_Italic.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Black.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Bold.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Light.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Medium.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Regular.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_Thin.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Black.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Bold.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Light.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Medium.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Regular.ttf</string>
		<string>HarmonyOS_Sans_Naskh_Arabic_UI_Thin.ttf</string>
		<string>HarmonyOS_Sans_SC_Black.ttf</string>
		<string>HarmonyOS_Sans_SC_Bold.ttf</string>
		<string>HarmonyOS_Sans_SC_Light.ttf</string>
		<string>HarmonyOS_Sans_SC_Medium.ttf</string>
		<string>HarmonyOS_Sans_SC_Regular.ttf</string>
		<string>HarmonyOS_Sans_SC_Thin.ttf</string>
		<string>HarmonyOS_Sans_TC_Black.ttf</string>
		<string>HarmonyOS_Sans_TC_Bold.ttf</string>
		<string>HarmonyOS_Sans_TC_Light.ttf</string>
		<string>HarmonyOS_Sans_TC_Medium.ttf</string>
		<string>HarmonyOS_Sans_TC_Regular.ttf</string>
		<string>HarmonyOS_Sans_TC_Thin.ttf</string>
	</array>
</dict>
</plist>
